.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-list {
  text-align: center;
    margin: 0 auto;
    width: 50%;
}

.contact-list form {
  width: 600px; 
  height: 175px; 
  background: rgb(255, 255, 255); 
  margin-top: -62px; 
  z-index: 100; 
  position: relative;
}

.contact-list .header {
  font-size: 18px;
} 

.form-group input {
  width: 45%;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border-style: groove;
  margin-top: 20px;
  margin-left: 10px;
}
